*, *::before, *::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(104, 59, 181);
    margin: 0;
}

h1, h2, h3 {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    display: block; 
    width: 100%;
}

/* Curser div */
.cursorDiv {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 150;
    pointer-events: none;
    transition: transform 150ms ease-out;
}

.cursorDiv::before {
    content: '';
    display: block;
    position: relative;
    top: -24px;
    left: -24px;
    width: 48px;
    height: 48px;
    transform: scale(0);
    opacity: 0;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    transition: transform 250ms ease-in-out, opacity 100ms;
}


/* tablet */
@media screen and (min-width: 768px) {
    .cursorDiv {
        display: unset;
    }
    
    .cursorDiv.visible::before {
        opacity: 1;
        transform: scale(.2);
     }
     
     .cursorDiv.menu::before {
        transform: scale(1.2);
     }  
     
     .cursorDiv.linkHover::before {
        transform: scale(1.2);
        background-color: rgba(255, 255, 255, 0.379);
        /* filter: hue-rotate(90deg); */
     }  
}

/* desktop */
@media screen and (min-width: 1200px) {

    /* .hero_link {
        border: 2px solid red;
    } */

    /* .cursor_video {
        display: none;
        border-radius: 50%;
        overflow: hidden;
    } */
    
    /* .cursorDiv.hero_sm_img .cursor_video {
        display: block;
        width: 240px;
        height: 240px;
        position: absolute;
        top: -120px;
        left: -120px;
        
    } */

    /* .cursorDiv.hero_sm_img video {
        height: 240px; 
    } */

    /* .cursorDiv.hero_lg_img .cursor_video {
        display: block;
        width: 347px;
        height: 347px; 
        position: absolute;
        top: -173px;
        left: -173px;
    } */

    /* .cursorDiv.hero_lg_img video {
        height: 347px;
    } */

    .cursorDiv.hero_sm_img::before {
        transform: scale(5);
    }

    .cursorDiv.hero_lg_img::before {
        transform: scale(7);
    }

}

